In [9]:
import regex as re

In [2]:
#1 Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
SampleText= 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]",":",SampleText))

Python:Exercises::PHP:exercises:

In [2]:
import pandas as pd

In [103]:
#2 Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary= {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [7]:
df=pd.DataFrame(Dictionary)

In [9]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)

In [10]:
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [12]:
#3 Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.
TargetString='Create a function in python to find all words that are at least 4 characters long in a string.'
stringpattern= r"\b\w{4,}\b"
regexpattern= re.compile(stringpattern)
result=regexpattern.findall(TargetString)
print(result)

['Create', 'function', 'python', 'find', 'words', 'that', 'least', 'characters', 'long', 'string']

In [104]:
#4
TargetString= 'Create a function in python to find all three, four, and five character words in a string.'
stringpattern= r"\b\w{3,5}\b"
regexpattern= re.compile(stringpattern)
result=regexpattern.findall(TargetString)
print(result)

['find', 'all', 'three', 'four', 'and', 'five', 'words']

In [45]:
#5 Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
SampleText= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
def myfunc(strings):
    stringpattern=r"[()]"
    regexpattern= re.compile(stringpattern)
    for text in strings:
        newpattern=re.sub(regexpattern,"",text)
        return newpattern

In [43]:
myfunc(SampleText)

'example .com'

In [41]:
result= myfunc(SampleText)
print (result)

example .com

In [ ]:
#6 Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [173]:
file= open("doc6.txt",'r')
text=file.read()
pattern=r'\([^()]*\)'
result=re.sub(pattern,"",text)
print(result)

Sample Text: ["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

In [47]:
#7 Write a regular expression in Python to split a string into uppercase letters.
Sampletext= "ImportanceOfRegularExpressionsInPython"
print(re.findall("[A-Z][^A-Z]*",Sampletext))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [78]:
#8 Create a function in python to insert spaces between words starting with numbers.
SampleText= "RegularExpression1IsAn2ImportantTopic3InPython"
def space(Text):
    pattern= r'(\d+)([A-Za-z]+)'
    newpattern=re.sub(pattern,r' \1\2',Text)
    return newpattern

In [79]:
space(SampleText)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [76]:
#9 Create a function in python to insert spaces between words starting with capital letters or with numbers.
SampleText= "RegularExpression1IsAn2ImportantTopic3InPython"
def space1(Text):
    pattern= r'(\d+)([A-Za-z]+)'
    newpattern=re.sub(pattern,r' \1 \2 ',Text)
    return newpattern

In [77]:
space1(SampleText)

'RegularExpression 1 IsAn  2 ImportantTopic  3 InPython '

In [177]:
#10 Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [178]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [179]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [180]:
df["first_five_letters"]=df["Country"].str.extract(r"(\w{6})")
print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328                NaN
155     0.47179            0.32858                NaN
156     0.19727            1.83302             Burund
157     0.16681            1.56726                NaN

[158 rows x 13 columns]

In [81]:
#11 Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.
def UCLCNU(text):
    pattern=r'^[A-Za-z0-9_]+$'
    if re.match(pattern,text):
        print("correct")
    else:
        print("error")

In [84]:
UCLCNU("The World_is 100t imes more Beautiful")

error

In [85]:
UCLCNU("TheWorld_is100timesmoreBeautiful")

correct

In [86]:
#12 Write a Python program where a string will start with a specific number. 
def prog(string,number):
    if re.match(number,string):
        print("correct")
    else:
        print("error")

In [93]:
prog('abc','123')

error

In [100]:
#13 Write a Python program to remove leading zeros from an IP address
def IP(xyz):
    result= re.sub('\.[0]*','.',xyz)
    print(result)

In [102]:
IP("111.034.088.112")

111.34.88.112

In [3]:
#14 Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
text= 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country.'

In [169]:
file= open("doc.txt",'r')
text=file.read()
pattern= r'\b([A-Za-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b'
datestring= re.findall(pattern,text)
datestring=datestring[0]
print(datestring)

August 15th 1947

In [42]:
#15 Write a Python program to search some literals strings in a string. 
text='The quick brown fox jumps over the lazy dog.'
pattern=['fox', 'dog', 'horse']
for item in pattern:
    if  re.search(item,text):
        print('%s is present'%item)
    else:
        print('%s is not present'%item)

fox is present
dog is present
horse is not present

In [44]:
#16 - Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [61]:
text='The quick brown fox jumps over the lazy dog.'
pattern='fox'
match= re.search(pattern,text)
s= match.start()
e= match.end()
print('searched "%s" in "%s" from %d to %d ' % (match.re.pattern, match.string, s, e))

searched "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [ ]:
#17 Write a Python program to find the substrings within a string.

In [66]:
text='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
match= re.findall(pattern,text)
for item in match:
    print('"%s"'%item)

"exercises"
"exercises"
"exercises"

In [67]:
#18 Write a Python program to find the occurrence and position of the substrings within a string.

In [84]:
text='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
match= re.finditer(pattern,text)
for item in match:
    s= item.start()
    e= item.end()
    print('searched "%s" at %d:%d ' % (text[s:e], s, e))

searched "exercises" at 7:16
searched "exercises" at 22:31
searched "exercises" at 36:45

In [87]:
#19 Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [92]:
date = '2023-11-03'
result = re.split('-', date)
formated_date= '-'.join(result[::-1])
print(formated_date)

03-11-2023

In [93]:
#20 Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [98]:
def Decimalnumber(text):
    pattern= re.compile(r'\d+\.\d{1,2}')
    result= re.findall(pattern,text)
    return result

In [99]:
Decimalnumber("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [100]:
# 21 Write a Python program to separate and print the numbers and their position of a given string.

In [113]:
text= 'My marks in each semester are 947, 896, 926, 524, 734, 950, 642'
result= re.split(r'\D+',text)
for item in result:
    print(item)

947
896
926
524
734
950
642

In [114]:
# 22 Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [117]:
text= 'My marks in each semester are 947, 896, 926, 524, 734, 950, 642'
result= re.split(r'\D+',text)
print("maxvalue:",max(result))

maxvalue: 950

In [118]:
#23 Create a function in python to insert spaces between words starting with capital letters.

In [124]:
def spaceCL(Text):
    pattern= r'(\w)([A-Z])'
    newpattern=re.sub(pattern,r'\1 \2',Text)
    return newpattern

In [125]:
spaceCL('RegularExpressionIsAnImportantTopicInPython')

'Regular Expression Is An Important Topic In Python'

In [126]:
#24 Python regex to find sequences of one upper case letter followed by lower case letters

In [127]:
text='Regular Expression Is An Important Topic In Python'
pattern= r'[A-Z][a-z]+'
result=re.findall(pattern,text)
print(result)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

In [128]:
#25 Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [132]:
def removeduplicates(text):
    pattern= r'\b(\w+)(\s+\1\b)+'
    result= re.sub(pattern,r'\1',text)
    return result

In [133]:
removeduplicates("Hello hello world world")

'Hello hello world'

In [134]:
# 26 Write a python program using RegEx to accept string ending with alphanumeric character.

In [137]:
def alphanumeric(text):
    pattern= r'[A-Za-z0-9]$'
    result= re.search(pattern,text)
    if result:
        print("correct")
    else:
        print("error")

In [138]:
alphanumeric('Hello123')

correct

In [139]:
alphanumeric('Hello123@')

error

In [140]:
#27 Write a python program using RegEx to extract the hashtags.

In [147]:
Text='RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
def hashtags(Text):
    pattern=r'#\w+'
    result= re.findall(pattern,Text)
    return result

In [148]:
hashtags('RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo')

['#Doltiwal', '#xyzabc', '#Demonetization']

In [149]:
#28 Write a python program using RegEx to remove <U+..> like symbols

In [156]:
def removesymbols(text):
    pattern=r'<U\+\w+>'
    result= re.sub(pattern,"",text)
    return result

In [157]:
removesymbols("@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders")

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

In [158]:
# 29 Write a python program to extract dates from the text stored in the text file.

In [166]:
file= open("document.txt",'r')
text=file.read()
pattern=r'\d{2}-\d{2}-\d{4}'
result=re.findall(pattern,text)
print(result)

['12-09-1992', '15-12-1999']

In [170]:
# 30 Create a function in python to remove all words from a string of length between 2 and 4.

In [171]:
SampleText= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
def removewordslen2and4(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    result=re.sub(pattern,"",text)
    return result

In [172]:
removewordslen2and4("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'